[submodule "rslidar_sdk"]
	path = rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk.git
[submodule "rslidar_msg"]
	path = rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg.git
